<h1>Hello, world</h1>

<button data-action="initialize">Initialize</button>
<button data-action="takeoff">Takeoff</button>
<button data-action="land">Land</button>
<button class="frame">Get video frame</button>
<img class="frame">
